{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atender Cita</title>
    <link rel="stylesheet" href="{% static 'operation/css/atender_cita.css' %}">
</head>
<body>
    <div class="atender-cita-container">
        <h1>Atender Cita</h1>
        <div class="cita-detalles">
            <p><strong>Paciente:</strong> {{ cita.id_paciente.id_datos.nombre }} {{ cita.id_paciente.id_datos.apellido_paterno }}</p>
            <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
            <p><strong>Hora de Inicio:</strong> {{ cita.hora_inicio }}</p>
            <p><strong>Hora de Fin:</strong> {{ cita.hora_fin }}</p>
            <p><strong>Consultorio:</strong> {{ cita.id_consultorio.nombre }}</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Iniciar Atención</button>
        </form>
        <a href="{% url 'operation:citas/consultar/doctor' %}" class="btn-cancel">Cancelar</a>
    </div>
</body>
</html>
