.atender-cita-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.cita-detalles p {
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.btn-cancel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
