{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Paciente</title>
</head>
<body>
    <h1>Datos del Paciente</h1>
    <div class="Rectangulo">
        <h3>Datos Personales</h3>
        <p><strong>Nombre:</strong> {{ datos.nombre }}</p>
        <p><strong>Apellido Paterno:</strong> {{ datos.apellido_paterno }}</p>
        <p><strong>Apellido Materno:</strong> {{ datos.apellido_materno }}</p>
        <p><strong>CURP:</strong> {{ datos.curp }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ datos.fecha_nacimiento }}</p>
        <p><strong>No. Móvil:</strong> {{ datos.telefono_movil }}</p>
        <p><strong>No. Fijo:</strong> {{ datos.telefono_fijo }}</p>
        <p><strong>Correo Electrónico:</strong> {{ datos.email }}</p>
        <p><strong>Contraseña:</strong> {{ datos.password }}</p>
        <p><strong>Fecha de Registro:</strong> {{ datos.fecha_registro }}</p>
        <a href="{% url 'operation:logout' %}">Cerrar sesión</a>
    </div>
</body>
</html>

